---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}

<html>
<head>
  <meta content="text/html; charset=ISO-8859-1"
 http-equiv="content-type">
  <title>Teaching</title>
</head>
<body>

2021-2022 Academic Year:<br>
  
Teaching Assistant, 2019 Spring, Chinese University of Hong Kong, MAEG 5725 Control and Industrial Automation (Postgraduate)  <br>

2020-2021 Academic Year:<br>

Postgraduate Tutorial, UAV Detection and tracking of the fake people in the Search and Rescure Environment. <br>
  
MSc Student Thesis Project and Thesis Mentor, LiDAR based Loop clusure of large scale 3D scenses. <br>
  
MSc Student Thesis Project and Thesis Mentor, Deep Learning based glass defects detection and identification. <br>
  
MSc Student Thesis Project and Thesis Mentor, Yolo based object detection and related deployment on the unmanned vehicles. <br>
  
MSc Student Thesis Project and Thesis Mentor, PointNet base 3D scene understanding and object detections. <br>

FYP Student Thesis Project and Thesis Mentor, UAV Light Show.<br>
  
FYP Student Thesis Project and Thesis Mentor, UAV Caligraphy. <br>
  
  
Teaching Assistant, 2020 Fall, Chinese University of Hong Kong, <b>MAEG 5725 Control and Industrial Automation </b> (Postgraduate) <br> 
  
<br>

2019-2020 Academic Year:<br>
  
Postgraduate Project Tutorial, UAV State Esitimation, Motion Estimation, and Object Detection when flying through the moving pillars. <br>
  
Postgraduate Project Tutorial, UAV 3D Reconstruction of the Environment. <br>
  
MSc Student Thesis Project and Thesis Mentor, VINS Mono and VINS Fusion based Simultaneous Localization and Mapping (SLAM) of the Environment. <br>
  
MSc Student Thesis Project and Thesis Mentor, LQR based UAV Control under ROS Gazebo. <br> 
  
FYP Student Thesis Project and Thesis Mentor, Robotics Platform and related Soliworks Design. <br>  
  
FYP Student Thesis Project and Thesis Mentor, UAV Light Show in the Vicon Environment and related Simulations. <br>
  
FYP Student Thesis Project and Thesis Mentor, UAV Caligraphy. <br>
  
Teaching Assistant, 2019 Fall, Chinese University of Hong Kong, <b> MAEG 5725 Control and Industrial Automation </b> (Postgraduate) <br>
  
<br>

2018-2019 Academic Year:<br>

Postgraduate Project Tutorial, UAV Landing on the Moving Platform. <br>
  
Teaching Assistant, 2019 Fall, Chinese University of Hong Kong, <b>MAEG 5725 Control and Industrial Automation </b> (Postgraduate) <br>  
  
FYP Student Thesis Project and Thesis Mentor, UAV Light Show in the Vicon Environment and related Simulations.<br>
  
FYP Student Thesis Project and Thesis Mentor, UAV Caligraphy. <br>
  
Teaching Assistant, 2018 Fall, Chinese University of Hong Kong, <b> MAEG 3006 Topics in Robotics </b> (Undergraduate)<br>
  
</body>
</html>
